---
name: Build Builder
on:
  schedule:
    - cron: '0 0 * * 0'  # build every sunday night

env:
  IMAGE_NAME_BUILDER: chatterbox-builder

jobs:
  build-and-push-builder:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push builder-image
        uses: docker/build-push-action@v3
        with:
          file: 'scripts/Dockerfile.builder'
          context: scripts
          push: true
          tags: ghcr.io/${{ github.actor }}/${{ env.IMAGE_NAME_BUILDER }}:latest
          labels: ${{ env.IMAGE_NAME_BUILDER }}
